
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #E4E6E9;
  padding-bottom: 0;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #393939;
  margin: 0 auto;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
 margin: 0;
}
.mrgb-30 {
  margin-bottom: 30px;
}
.account-invoice {
  font-size: 14px;
  margin: 50px 0;
}
.account-invoice .p-0 {
  padding: 0;
}
.account-invoice .innvoice-wrap {
  background: #fff;
  box-shadow: 0 3px 20px rgb(0 0 0 / 10%);
  padding: 30px;
}
.account-invoice .company-info  {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
.account-invoice .company-info,
.account-invoice .info-detail,
.account-invoice .total-wrap {
  display: flex;
}
.account-invoice .company-info .left-info,
.account-invoice .info-to {
  margin-right: auto;
}
.account-invoice .info-detail .info-to .title{
  margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: inline-block;
  padding-bottom: 5px;
}
.account-invoice .info-detail .info-to .name {
  margin-bottom: 10px;
}
.account-invoice p{
  margin-bottom: 5px;
}
.account-invoice .logo{
  color: #333;
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
}
.account-invoice .innvoice-no ul li,
.account-invoice .total-wrap ul li {
  list-style-type: none;
}
.account-invoice .innvoice-no li,
.account-invoice .total-wrap li {
  margin: 7px 0;
}
.account-invoice .innvoice-no li:first-child,
.account-invoice .total-wrap li:first-child{
  margin-top: 0;
}
.account-invoice .innvoice-no li:last-child,
.account-invoice .total-wrap li:last-child{
  margin-bottom: 0;
}
.account-invoice .innvoice-table-content {
  padding: 30px;
}
.account-invoice .innvoice-no {
  text-align: right;
  margin-bottom: 15px;
}
.innvoice-table {
  font-size: 16px;
}
.innvoice-table>tbody>tr>td, .innvoice-table>tbody>tr>th, 
.innvoice-table>tfoot>tr>td, .innvoice-table>tfoot>tr>th, 
.innvoice-table>thead>tr>td, .innvoice-table>thead>tr>th,
.innvoice-table>thead:first-child>tr:first-child>td, 
.innvoice-table>thead:first-child>tr:first-child>th {
  border:none;
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: middle;
}
.innvoice-table thead th {
  background: #11274b;
  color: #fff;
}
.account-invoice .total-wrap li strong{
  margin-right: 10px;
}
.account-invoice .note {
  text-align: center;
  font-weight: 600;
}